@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 1); */
}

body {
  box-sizing: border-box;
  margin: 0;
  /* min-width: 320px; */
  /* min-height: 100vh; */
}

.image-section {
  background-image: url("./assets/signup_image.png");
  flex-basis: 41.7%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.image-section2 {
  background-image: url("./assets/signin_image.png");
  flex-basis: 41.7%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
